<form method="post" action="{{ path('program_delete', {'slug': program.slug}) }}" onsubmit="return confirm('{{ 'delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
