<form method="post" action="{{ path('program_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('{{ 'delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
