{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ 'create_program'|trans }}</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}
